@{
    ViewBag.Title = "Home Page";
}

@if (Session["originlocation"] != null && Session["destinationlocation"] != null && Session["departure"] != null)
{
    @Html.Hidden("originlocation", Session["originlocation"])
    @Html.Hidden("originlocationid", Session["originlocationid"])
    @Html.Hidden("destinationlocation", Session["destinationlocation"])
    @Html.Hidden("destinationlocationid", Session["destinationlocationid"])
    @Html.Hidden("departure", Session["departure"])
}
<link href="~/Content/indexpage.css" rel="stylesheet" />
<div class="card ">
    <div class="card-header header">
    </div>
    <div class="card-body py-5" id="py">
        <div class="container">
            <form action="/Home/Index" name="registration" method="post">
                <div class="row">
                    <div id="fromlocationcontent">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10"><label style="color:#2F4EB4"><b>Nereden</b></label></div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <img src="~/Content/image/location3.jpg" id="imglocation3" />
                            </div>
                            <div class="col-md-10">
                                @Html.DropDownList("FromBusLocation", ViewBag.FromBusLocation as IEnumerable<SelectListItem>, "İl veya ilçe adı yazın", new { @class = "form-control", id = "frombuslocation" })
                                @Html.Label("FromBusLocation", "Şehir alanı seçmelisiniz..", new { @class = "frombuslocationvalidation", id = "frombuslocationvalidation" })
                            </div>
                            @Html.Hidden("SessionInfo", (string)ViewBag.SessionInfo)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="button" id="changeInfo"><img src="~/Content/image/sort_alt.png" id="imgsortalt" /></button>
                </div>
                <div class="row" style="margin-top:4px">
                    <div id="tolocationcontent">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10"><label style="color:#2F4EB4"><b>Nereye</b></label></div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <img src="~/Content/image/location3.jpg" id="imglocation3another" />
                            </div>
                            <div class="col-md-10">
                                @Html.DropDownList("ToBusLocation", null, "İl veya ilçe adı yazın", new { @class = "form-control", id = "tobuslocation" })
                                @Html.Label("ToBusLocation", "Şehir alanı seçmelisiniz..", new { @class = "tobuslocationvalidation", id = "tobuslocationvalidation" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:14px">
                    <div class="timestyle">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10"><label style="color:#2F4EB4"><b>Tarih</b></label></div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <img src="~/Content/image/calendar.png" class="calendar1" />
                            </div>
                            <div class="col-md-8">
                                <input id="flatpickr" class="form-control flatpickr1" name="flatpickr">
                            </div>
                            <div class="col-md-3 timetodaytomorrow">
                                <button type="button" class="timetorow" id="today">Bugün</button>
                                <br />
                                <button type="button" class="timetorow" id="tomorrow">Yarın</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" id="submit" class="btn btn-primary">Bileti Bul</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/Scripts/indexpage.js"></script>